.contact_box_icon {
    background-color: $text-color;
    color: $body-background;
    border: 4px solid $text-color;

    transition: background-color $animation-duration;

    font-size: 6rem;
    
    @include respond-to(small) {
        font-size: 10rem;
    }

    // &:hover {
    //     // background-color: blue;
    // }
}