// -----------------------------------------------------------------------------
// This file contains styles that are specific to the About page.
// -----------------------------------------------------------------------------

section {
    padding-left: 20px;

    p {
        font-size: $font-size-medium;

        // .styled-letter {
        //     border-style: solid;
        //     font-size: $font-size-2x-large;
        //     padding-left: 8px;
        //     padding-right: 8px;
        //     margin-right: 3px;
        //     vertical-align: bottom;
        // }
        .styled-letter {
            float: left;
            position: relative;
            top: -0.5em;
            margin-top: 30px;
            margin-left: 0px;
            margin-right: 5px;
            margin-bottom: -0.9em;
            font-size: $font-size-2x-large;
            line-height: normal;
            font-weight: bold;

            border-style: solid;
            padding-left: 8px;
            padding-right: 8px;

        }
    }
}
