.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    // grid-template: auto 1fr / 1fr;
    grid-template-areas:
        'sd'
        'mn';
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;

    @include respond-to(small) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        // grid-template: 1fr / 256px 1fr;
        grid-template-areas: 'sd mn';
        grid-gap: 0px;
        width: 100vw;
        height: 100vh;
    }
}