// -----------------------------------------------------------------------------
// This file contains all styles related to the main of the site/application.
// -----------------------------------------------------------------------------

.app-main {
    grid-area: mn;
    width: 100%;

    overflow-y: scroll;

    background-color: $body-background;

    transition: margin-left max-width $animation-duration;

    @include respond-to(small) {
        position: fixed;
        height: 100%;
        max-width: -webkit-calc(100vw - 256px);
        max-width: -moz-calc(100vw - 256px);
        max-width: calc(100vw - 256px);
        z-index: 500;

        margin-left: 256px;
    }
}

.app-main-minimized {
    margin-left: 56px;

    max-width: -webkit-calc(100vw - 56px);
    max-width: -moz-calc(100vw - 56px);
    max-width: calc(100vw - 56px);
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
