body {
    padding: 0px;
    margin: 0px;
}

.app {
    display: grid;
    grid-template: 1fr / 200px 1fr;
    grid-template-areas:    "sd mn";
    grid-gap: 0px;
    width: 100vw;
    height: 100vh;
}

.app-sidebar {
    grid-area: sd;
    background-color: lightcyan;
}

.app-main {
    grid-area: mn;
    background-color: white;
}